* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s linear !important;
}

:root {
    --height-header: 5rem;
    /* --height-main: ; */
    --height-footer: 3.5rem;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: white;
}

::selection {
  background-color: #f1c40f;
  color: #000;
}



/* ---------- HEADER ---------- */

header {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
}

main {
  min-height: calc(100vh - var(--height-header) - var(--height-footer)) !important;
}

header img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

nav a,
.user-name {
  color: #f1c40f;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav a:hover,
.user-name:hover {
  /* text-decoration: underline; */
}



/* ---------- DROPDOWN ---------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #2a2a2a !important;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3a3a3a;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* ---------- HERO ---------- */

.hero {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #f1c40f;
}

.hero p {
  font-size: 1.2em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



.auth-card {
  padding: 30px;
  width: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(0, 0, 0, 0.91);
}

.auth-card h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.auth-card label {
  color: #ccc;
}

.auth-card .form-outline .form-label {
  color: #fff;
  border-color: #fff;
}

.auth-card .form-outline .form-control {
  color: #fff;
  border-color: #fff;
}

.auth-card .btn-primary {
  background-color: #f1c40f;
  color: #000;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  margin-top: 20px;
}

.auth-card .btn-primary:hover {
  color: #fff;
  background-color: #aa8802;
}

.auth-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #0d6efd;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}



/* ---------- FOOTER ---------- */

.footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 20px;
  color: #777;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: calc(0.7rem + 0.2vw);
  height: var(--height-footer);
}

.erro {
  color: red;
  margin-bottom: 15px;
}



/* ---------- DIFERENTES PROPORÇÕES DE TELA ---------- */

/* Para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
  .auth-card {
    max-width: 80%;
  }
}

/* Para telas menores que 480px (celulares) */
@media (max-width: 480px) {
  .auth-card {
    max-width: 90%;
  }
}
